@mixin slider-color($red, $green, $blue) {
  $stage: 255 / 3;
  $color1: none;
  $color2: none;
  $color22: none;
  $color3: none;
  @if ($red == 255) {
    $color1: rgb($red, 0, 0);
    $color2: rgb($red, $stage, $stage);
    $color22: rgba($red, $stage, $stage, .2);
    $color3: rgb($red, $stage * 2, $stage * 2);
  }

  @if ($green == 255) {
    $color1: rgb(0, $green, 0);
    $color2: rgb($stage, $green, $stage);
    $color22: rgba($stage, $green, $stage, .2);
    $color3: rgb($stage * 2, $green, $stage * 2);
  }

  @if ($blue == 255) {
    $color1: rgb(0, 0, $blue);
    $color2: rgb($stage, $stage, $blue);
    $color22: rgba($stage, $stage, $blue, .2);
    $color3: rgb($stage * 2, $stage * 2, $blue);
  }

  @if ($red == $green && $red == $blue) {
    $color1: rgb($red, $green, $blue);
    $color2: rgb($red + $stage, $green + $stage, $blue + $stage);
    $color22: rgba($red + $stage, $green + $stage, $blue + $stage, .2);
    $color3: rgb($red + $stage * 2, $green + $stage * 2, $blue + $stage * 2);
  }

  .ant-slider-handle {
    border-color: $color3 !important;
  }
  .ant-slider-handle:focus {
    border-color: $color2 !important;
    box-shadow: 0 0 0 5px $color22 !important;
  }
  .ant-slider-handle.ant-tooltip-open {
    border-color: $color1 !important;
  }
  .ant-slider-track {
    background-color: $color2 !important;
  }
  &:hover .ant-slider-track {
    background-color: $color1 !important;
  }
}
.draw-board {
  padding-left: 150px;
  border: 1px solid #e8e8e8;

  :global {
    .draw-board-content {
      min-width: 150px;
      min-height: 172px;
    }
    .draw-board-ope {
      width: 150px;
      border-right: 1px solid #e8e8e8;
    }
    .draw-board-ope-itm {
      border-top: 1px solid transparent;
      height: 22px;
      padding-left: 35px;
    }
    .itm-label {
      max-width: 30px;
      font-size: 12px;
      color: #666;
      line-height: 22px;
    }
    .ant-slider {
      margin: 5px 6px !important;
    }
    .red {
      @include slider-color(255, 0, 0)
    }
    .green {
      @include slider-color(0, 255, 0)
    }
    .blue {
      @include slider-color(0, 0, 255)
    }
    .size {
      @include slider-color(30, 30, 30);
    }
    .draw-board-btn {
      .ant-btn {
        height: 24px !important;
        line-height: 22px !important;
        padding: 0 10px !important;
        font-size: 12px !important;
      }
    }

    .draw-board-sel {
      .ant-col {
        .ant-btn {
          width: 100%;
          padding: 0;
          font-size: 12px;
          height: 24px;
          line-height: 22px;
        }
      }
    }
  }
}
