.info-title {
  height: 85px;
  padding: 15px 36px 15px 75px;

  :global {
    .cb-icon {
      top: 24.5px;
      right: 1px;
    }

    .img {
      top: 15px;
      left: 10px;
      width: 55px;
      height: 55px;
      border-radius: 7px;
    }

    div.wp100 {
      padding: 5px 0;
      line-height: 45px;
      &:global(.has-info) {
        line-height: 22.5px;
      }
    }
  }
  h6 {
    color: #333;
  }
  p {
    color: #999;
    span {
      &:first-child {
        max-width: 63%;
      }
      &:last-child {
        margin-left: 7%;
        max-width: 30%;
      }
    }
  }
}

.info-item {
  height: 32px;
  line-height: 32px;
  padding: 0 110px 0 10px;
  span {
    font-size: 12px;
    &:global(.fl) {
      color: #333;
      max-width: 100%;
    }
    &:global(.part) {
      color: #999;
      right: 10px;
      width: 90px;
      height: 100%;
      text-align: right;
    }
  }
  em {
    color: #fb3f3e;
  }
}

.info-agree-or-refuse {
  height: 30px;

  span {
    width: 120px;
    height: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
  }

  :global {
    .refuse {
      color: #333;
      border-color: #333;
    }
    .agree {
      color: #fff;
      background-color: #fb3f3e;
    }
  }
}
