.amap-send {
  padding-top: 40px;
}
.header {
  background-color: #fdfdfd;
  height: 40px;
  line-height: 40px;
}
.send-btn {
  line-height: 30px;
  height: 30px;
  background-color: #00ff00 !important;
  border: none !important;
  outline: none !important;
}
.search-list {
  background-color: #fff;
}
