.order-detail {
  background-color: #fafafa;
  :global {
    .cb-header {
      background-color: #323232 !important;
    }
    .am-icon,
    .am-navbar-title {
      color: #fff !important;
    }

    .price {
      color: #ff6600;
    }
  }
}

.steps {
  text-align: center;
  :global {
    .am-flexbox-item {
      margin-left: 0 !important;
      position: relative;
      font-size: 12px;
      line-height: 22px;
      color: #ff6600;
      &::after {
        position: relative;
        z-index: 10;
        display: block;
        content: attr(data-index);
        margin: 10px auto 0;
        font-size: 10px;
        width: 16px;
        height: 16px;
        color: #fff;
        line-height: 16px;
        @include bg-img;
        background-size: 100% auto !important;
        background-image: url('../../assets/images/step-act.png')
      }

      &:first-child::before {
        display: none;
      }

      &::before {
        content: '';
        z-index: 0;
        position: absolute;
        bottom: 7px;
        left: -50%;
        width: 100%;
        border-top: 1px solid #ff6600;
      }

      &.active~.am-flexbox-item {
        color: #999;

        &::before {
          border-color: #f0f0f0;
        }

        &::after {
          color: #999;
          background-image: url('../../assets/images/step-def.png')
        }
      }
    }
  }
}

.order-msg {
  padding: 7.5px 15px;
  p {
    height: 27px;
    line-height: 27px;
    color: #333;
  }

  :global {
    .btn {
      margin: 7.5px 0;
      height: 30px;
    }

    .cb-btn {
      margin-top: 0 !important;
      display: inline-block !important;
      vertical-align: top;
      width: 150px !important;
      height: 100% !important;
      line-height: 30px !important;
      background-color: #ff6600 !important;
      border-radius: 15px !important;
      border: 0 !important;
      font-size: 12px !important;
      color: #fff !important;

      &:last-child {
        background-color: #e4e4e4 !important;
        color: #666 !important;
      }
    }
  }
}

.address {
  @include bg-img;
  background-size: 100% auto !important;
  background-position: center bottom !important;
  padding: 5px 15px 15px;

  div {
    line-height: 32px;
    height: 32px;
    color: #333;

    span {
      max-width: 50%;
    }
  }

  p {
    line-height: 20px;
    color: #999;
    padding-left: 15px;
    padding-right: 30px;

    em {
      @include bg-img;
      background-size: 8px auto !important;
      background-position: left center !important;
      width: 15px;
      height: 20px;
    }

    :global {
      .am-icon {
        color: #ccc !important;
        top: -1.5px;
        right: -6px;
      }
    }
  }
}

.other-msg {

  :global {
    .item,
    .am-textarea-item,
    .am-textarea-control,
    .am-textarea-label,
    textarea {
      padding: 0 !important;
      line-height: 22px !important;
      height: 22px !important;
      font-size: 12px !important;
      color: #666 !important;
      min-height: 0 !important;
    }

    .am-textarea-label,
    span {
      width: auto !important;
      margin-right: 5px !important;
    }

    .am-textarea-item,
    .am-textarea-control,
    textarea {
      height: 44px !important;
    }
  }
}

.item {
  // height: 111px;
  padding-left: 100px;
  border-bottom: 1px solid #f0f0f0;

 :global {
  .img {
    top: 15px;
    height: 81px;
    width: 90px;
    border: 1px solid #f0f0f0;
    @include bg-img;
    background-size: auto 70px !important;
  }

  .title {
    color: #333;
  }
  .desc {
    color: #999;
  }

  .title, .desc {
    height: 27px;
    line-height: 27px;
  }

  .cb-btn {
    margin-top: 7px !important;
    width: 75px !important;
    height: 20px !important;
    line-height: 20px !important;
    background-color: #e4e4e4 !important;
    border-radius: 10px !important;
    border: 0 !important;
    font-size: 11px !important;
  }
 }
}

.cost {
  color: #666;
  line-height: 25px;
  height: 25px;
}
