.group-meeting {
  :global {
    .am-navbar-right {
      span {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        @include bg-img;
      }
    }

    .item {
      &>div {
        position: relative;
        padding-left: 70px;
        box-sizing: border-box;
        span {
          display: inline-block;
          vertical-align: top;
          height: 30px;
          line-height: 30px;
        }
        span:first-child {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 14px;
          color: #666;
          text-align: left;
          width: 60px;
          overflow: hidden;
        }
        span:last-child {
          font-size: 12px;
          color: #000;
          text-align: right;
          width: 100%;
        }
      }
      &>p {
        padding: 7px 0;

        span, em {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          height: 16px;
          line-height: 16px;
          color: #999;
          font-size: 10px;
        }

        span:first-child {
          text-align: left;
        }
        span:last-child {
          text-align: right;
        }

        em {
          width: auto;
          color: #fff;
          padding: 0 6px;
          margin-right: 10px;
          border-radius: 2px;
          background-color: #999;
          font-style: normal;

          &.wks {
            background-color: #fb3f3e;
          }

          &.jxz {
            background-color: #008000;
          }
        }
      }
    }
  }
}
