.item {
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  border-top: 1px solid #f0f0f0;
  font-size: 12px;
  overflow: hidden;
  &:first-child {
    border-top: 0;
  }

  :global(.fr) {
    color: #666;
  }
  :global(.fl) {
    color: #333;
  }
}

.phone-location {
  :global(.cb-contact-title) {
    height: 40px !important;
    line-height: 40px !important;
    color: #333 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
  }
}
