.chat-search-more {
  :global {
    .search-info {
      height: 35px;
      line-height: 35px;
      color: #999;
    }

    .search-title {
      height: 35px;
      line-height: 34px;
      color: #333;
      border-bottom: 1px solid #eee;
    }

    .item {
      height: 56px;
      padding-left: 55px;

      &:last-child .content {
        border-bottom-color: transparent;
      }

      .img {
        left: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
        border-radius: 4px;
      }

      .content {
        border-bottom: 1px solid #eee;
      }

      .name, .info {
        height: 17.5px;
        line-height: 17.5px;
      }
      .name {
        color: #333;
        &.no-info {
          margin-top: 9px;
        }
        em {
          font-style: normal;
          color: #fb3f3e;
        }
      }
      .info {
        color: #999;
      }
    }
  }
}
