.add-friend {
  padding-top: 82px;
}
.search {
  height: 82px;
  p {
    color: #333;
    line-height: 22px;
  }
}

.add-fd-item {
  height: 60px;
  padding-left: 70px;
  h6 {
    color: #333;
  }
  p {
    color: #b6b6b6;
  }
  img {
    width: 40px;
    height: 40px;
    top: 10px;
    left: 15px;
  }
  div {
    line-height: 40px;
    &:global(.has-info) {
      line-height: 20px
    }
  }
}
